body{background-color:white;
  font-family:sans-serif;}
h1{font-size: 125%;
font-style: initial,italic;
font-weight: bolder;
font-color: fuschia;}
body{
border: 1px solid red;
}
h2{
  font-size: 125%
}
p2{font-family:cursive;}

p3{text-align: center;}
